#canvasForm{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30vh;
    text-align: center;
    background-color:rgb(206, 206, 206);
}

#canvasForm h1{
    color: white;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #606380;
}

#canvasForm input{
    width: 50px;
    margin-bottom: 10px;
}

#canvasForm p{
    display: inline;
    color:#606380;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
}

#canvasForm button{
    font-weight: bold;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #606380;
    border-color: #9c9feb;
    color:rgb(255, 255, 255);
    margin-bottom: 10px;
}