#sidebarContainer{
    position: absolute;
    width: 180px;
    text-align: center;
    background-color: rgb(206, 206, 206);
    border: solid #9c9feb 1.5px;
    overflow: auto;
    z-index: 1000;
    vertical-align: top;
}

#sidebarContainer h1{
    color: white;
    margin-top: 0px;
    margin-top: 0px;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #606380;
}