#toolbarContainer{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100vh;
    width: 3vw;
    background-color: #dc8c30;
    overflow: visible;
    z-index: 1000;
}

.iconUnselected{
    cursor: pointer;
    width: 3vw;
    height: 3vw;
    margin-bottom: 1vw;
}

.iconHovered{
    cursor: pointer;
    width: 3vw;
    height: 3vw;
    margin-bottom: 1vw;
    background-color:rgba(0, 0, 0, 0.104)
}

.iconSelected{
    cursor: pointer;
    width: 3vw;
    height: 3vw;
    margin-bottom: 1vw;
    background-color:rgba(0, 0, 0, 0.309)
}