#toolbarContainer{
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 50px;
    background-color: #dc8c30;
    overflow: auto;
    z-index: 1000;
}

.iconUnselected{
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.iconHovered{
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    background-color:rgba(0, 0, 0, 0.104)
}

.iconSelected{
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    background-color:rgba(0, 0, 0, 0.309)
}